.wrapper{
    height: 100vh;
}

p{
    margin-bottom: 0;
}

*{
    box-sizing: unset;
}

.form_area{
    max-width: 400px;
    margin: 0 auto;
    background-color: transparent;
    padding: 20px;
    font-family: Arial, serif;
    border-radius: 10px;
    position: relative;
    transform: translate(0);
    transition: 2s tranform linear;
}

.onerror{
    animation-name: example;
    animation-duration: 0.1s;
}

@keyframes example {
    0% {transform: translateX(10px);}
    20% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    60% {transform: translateX(-10px);}
    80% {transform: translateX(10px);}
    100% {transform: translateX(-10px);}
}

.input-section{
    position: relative;
    padding: 7px 0;
}

label{
    position: absolute;
    top: -5px;
    left: 0;
    color: #000000;
    font-size: 15px;
    font-style: italic;
}

.inp{
    margin: 10px 0;
    box-sizing : border-box;
    width: 100%;
    padding: 0 10px;
    height: 32px;
    font-size: 20px;
    border-radius: 2px;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    transition: 0.2s border linear;
}

.inp:hover{
    border: 1px solid #000000;
}

.inp:focus{
    border-color: #142850;
}

.submit{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    background-color: #0073b1;
    color: #ffffff;
    border: 1px solid #0073b1;
}

.submit:active{
    transform: translate(1px, 1px);
}

.submit:focus{
    border: 1px solid #0073b1;
    box-shadow: none;
}

.submit:hover{
    cursor: pointer;
    background-color: #006097;
    border: 1px solid #006097;
    color: #ffffff;
}

.error{
    position: absolute;
    bottom: 0;
    right: 0;
    color: red;
    font-size: 15px;
}

.submitError{
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 15px;
}

.redirect{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.linkLogin{
    text-decoration: underline;
    color: #0073b1;
}

.linkLogin:hover{
    text-decoration: underline;
    color: #006097;
}

.pass-check{
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: -340px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #8f8f8f;
    display: block;
}

.hide{
    display: none;
}

.err{
    font-size: 18px;
    line-height: 24px;
    margin-top: 5px;
    color: #ff2b2b;
}

.success{
    color: #02aa02;
}

@media only screen and (max-width: 1110px) {

    .pass-check{
        width: auto;
        height: auto;
        margin-bottom: 20px;
        position: relative;
        left: 0;
        top: 0;
        margin-top: 0;
    }
}
