.help-area{
    height: auto;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #8f8f8f;
}

.chat-box{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 0 10px 8px #000000;
    position: relative;
}

.que-ans{
    width: 760px;
    height: 410px;
    padding: 20px;
    overflow-y: scroll;
}

.que{
    position: relative;
    width: 330px;
    padding: 10px;
    box-shadow: 0 0 5px 5px #0073b1;
    border-radius: 5px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 400px;
    font-size: 20px;
}

.ans{
    position: relative;
    width: 330px;
    padding: 10px;
    box-shadow: 0 0 5px 5px #000000;
    border-radius: 5px;
    height: auto;
    margin-bottom: 20px;
    font-size: 20px;
}

.user-area{
    position: relative;
    height: 50px;
    box-shadow: 0 0 10px 5px black;
}

.question{
    position: absolute;
    bottom: 0;
    padding: 0 20px;
    width: 760px;
    display: block;
    outline: none;
    border: none;
    font-size: 30px;
    line-height: 50px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0;
}

.queSuggestion{
    background-color: #ffffff;
    box-shadow: 0 0 5px 5px #000000;
    position: absolute;
    top: 50px;
    left: 0;
    width: 760px;
    max-height: 170px;
    padding: 10px 20px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    overflow-x: hidden;
    transition: width 0.3s ease-out;
    z-index: 1;
}
