.bar{
    background-color: #0073b1;
    padding: 10px 20px;
    height: 30px;
    position: relative;
}

.menu{
    background-image: url("raw/menu_light.png");
    width: 30px;
    height: 30px;
    float: left;
}

.menu:hover{
    cursor: pointer;
}

.side-panel{
    background-color: #0073b1;
    width: 0;
    padding: 0;
    height: 0;
    position: absolute;
    overflow-y: hidden;
    transition: width 150ms linear, padding 150ms linear;
    border-radius: 0 0 20px 0;
    left: 0;
    top: 50px;
    z-index: 1;
}

.side-panel li{
    margin: 10px 0;
}

.show-panel{
    width: 125px;
    height: auto;
    padding: 10px;
}

.side-panel li:first-child{
    margin-top: 0;
}

.item{
    transition: background-color 0.2s linear, color 0.2s linear, background 0.2s linear;
    position: relative;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.label{
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 20px;
    line-height: 24px;
}

.arrow{
    position: absolute;
    background: url("raw/arrow.png") center center no-repeat;
    top: 50%;
    right: 5px;
    height: 18px;
    width: 18px;
    margin-top: -9px;
}

.item:hover{
    background: #ffffff;
}

.item:hover .label{
    color: #27496D;
}

.item:hover .arrow{
    background: url("raw/arrow_blue.png") center center no-repeat;
}

.search-bar{
    float: left;
    margin: 0 0 0 100px;
    width: 400px;
    transition: margin 0.3s ease-out, width 0.3s ease-out;
    position: relative;
}

.search-move{
    margin: 0 30px 0 150px;
}

.search{
    float: left;
    width: 350px;
    overflow: hidden;
    transition: width 0.3s ease-out;
}

#search{
    padding: 0 20px;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    font-size: 21px;
    line-height: 30px;
    background-color: #ffffff;
    color: #142850;
    border-radius: 0;
}

.search-icon{
    float: left;
    width: 50px;
    height: 30px;
    background: #ffffff url("raw/search_blue.png") center center no-repeat;
    transition: background 0.2s linear, width 0.3s ease-out;
}

.search-icon:hover{
    background: #27496D url("raw/search_light.png") center center no-repeat;
    cursor: pointer;
}

.suggestion{
    margin-top: 10px;
    background-color: #0073b1;
    position: absolute;
    top: 30px;
    left: 0;
    width: 360px;
    max-height: 170px;
    padding: 10px 20px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    overflow-x: hidden;
    transition: width 0.3s ease-out;
    z-index: 1;
}

.right{
    margin-left: 50px;
    float: left;
}

.right li{
    margin-right: 25px;
    padding: 0 5px;
    float: left;
    border-radius: 5px;
    transition: background-color 0.2s linear;
    text-align: center;
    position: relative;
}

.right li:last-child{
    margin-right: 0;
}

.right .label{
    color: #ffffff;
    display: block;
    padding: 0 5px;
    font-family: Arial, serif;
    font-size: 21px;
    line-height: 30px;
    transition: color 0.2s linear;
}

.right li:hover{
    background-color: #ffffff;
}

.right li:hover .label{
    color: #27496D;
}

.link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hide-nav{
    display: none;
}

.logo{
    width: 200px;
    height: 30px;
    float: right;
    background-image: url("raw/logo.png");
    display: block;
}

@media only screen and (max-width: 1120px) {

    .search-bar{
        margin: 0 10px 0 30px;
    }

    .right{
        display: none;
    }

    .hide-nav{
        display: block;
    }
}

@media only screen and (max-width: 730px){
    .logo{
        display: none;
    }
}

@media only screen and (max-width: 530px) {

    .search-bar{
        width: 260px;
    }

    .suggestion, .search{
        width: 220px;
    }

    .search-icon{
        width: 40px;
    }
}

.linkDisable{
    pointer-events: none;
}
