.result_tag{
    color: #0073b1;
    font-family: Arial, serif;
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
    margin-top: 25px;
}

.products{
    border-radius: 10px;
    padding: 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 10px 50px;
    box-shadow: 0 0 10px 10px #8f8f8f;
    min-height: 300px;
}

.nomatch{
    line-height: 300px;
    font-size: 30px;
    font-family: Arial, serif;
    color: #0073b1;
    margin: 0 auto;
}

@media only screen and (max-width: 590px) {

    .products{
        justify-content: center;
    }
}
